In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [25]:
jkse = yf.download('^JKSE', interval='1mo')
jkse['pct_change'] = jkse['Adj Close'].pct_change()
jkse.drop(index=jkse.index[-1], inplace=True)

jkse.groupby(by=[jkse.index.month])['pct_change'].mean()

[*********************100%***********************]  1 of 1 completed

Date
1     0.021912
2     0.006216
3     0.002840
4     0.020559
5     0.018620
6     0.012878
7     0.011931
8    -0.032455
9    -0.014563
10    0.001425
11    0.012203
12    0.043907
Name: pct_change, dtype: float64

In [8]:
jkse['pct_change'] = jkse['Adj Close'].pct_change()

In [14]:
jkse.index[-1]

Timestamp('2021-07-13 00:00:00')

In [16]:
jkse.drop(index=jkse.index[-1], inplace=True)

In [17]:
jkse

,Open,High,Low,Close,Adj Close,Volume,pct_change
Date,,,,,,,
1990-05-01,639.010010,647.401001,636.153992,636.400024,636.400024,0,NaN
1990-06-01,635.020020,637.080017,621.789978,624.320007,624.320007,0,-0.018982
1990-07-01,629.440002,631.169983,614.406006,614.406006,614.406006,0,-0.015880
1990-08-01,611.981018,613.494019,546.830017,571.020020,571.020020,0,-0.070615
1990-09-01,567.406982,567.406982,454.511993,468.509003,468.509003,0,-0.179523
...,...,...,...,...,...,...,...
2021-03-01,6281.856934,6394.452148,5892.645020,5985.521973,5985.521973,3451452000,-0.041058
2021-04-01,5988.022949,6115.620117,5883.523926,5995.616211,5995.616211,2813253600,0.001686
2021-05-01,5999.661133,6005.087891,5742.038086,5947.462891,5947.462891,2453433400,-0.008031
2021-06-01,6002.480957,6134.881836,5884.917969,5985.488770,5985.488770,3980614000,0.006394
2021-07-01,6001.121094,6080.222168,5969.099121,6039.844238,6039.844238,1041937900,0.009081

In [20]:
jkse.index.month

Int64Index([ 5,  6,  7,  8,  9, 10, 11, 12,  1,  2,
            ...
            10, 11, 12,  1,  2,  3,  4,  5,  6,  7],
           dtype='int64', name='Date', length=375)

In [24]:

jkse.groupby(by=[jkse.index.month])['pct_change'].mean()

Date
1     0.021912
2     0.006216
3     0.002840
4     0.020559
5     0.018620
6     0.012878
7     0.011931
8    -0.032455
9    -0.014563
10    0.001425
11    0.012203
12    0.043907
Name: pct_change, dtype: float64

In [23]:
jkse.groupby(jkse.index.dt.strftime('%B'))['pct_change'].mean()

AttributeError: 'DatetimeIndex' object has no attribute 'dt'